{% extends "layout2.html"%}
{%from "_macros.html" import render_field%}
{%block content%}
        <div class="container">
                <div class="row">
                        <form name="elimninacion" action="/eliminar" id="eliminacion" method="POST" novalidate>
                                <div class="row control-group">
                                        <div class="form-group col-xs-12 float-label-form-group controls">
                                                {{ render_field(form.id, class="form-control") }}
                                        </div>
                                        <div class="form-group col-xs-12 float-label-form-group controls">
                                                {{ render_field(form.nombres, class="form-control") }}
                                        </div>
                                        <div class="form-group col-xs-12 float-label-form-group controls">
                                                {{ render_field(form.amaterno, class="form-control") }}
                                        </div>
                                        <div class="form-group col-xs-12 float-label-form-group controls">
                                                {{ render_field(form.sueldo, class="form-control") }}
                                        </div>
                                        <div class="form-group col-xs-12 float-label-form-group controls">
                                                {{ render_field(form.edad, class="form-control") }}
                                        </div>
                                        <div class="form-group col-xs-12 float-label-form-group controls">
                                                {{ render_field(form.anio_ingreso, class="form-control") }}
                                        </div>
                                </div>
                                <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
                                <input type="submit" name="registrar" id="eliminar" class="btn btn-danger" value="Eliminar">
                                <a href="ABC_Completo" class="btn btn-success">Cancelar</a>
                        </form>
                </div>
        </div>
{%endblock%}
